*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    width: 100%;
    height: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #121212;
    height: 12vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 10.4vw;
     z-index: 10;
}
.nav2{
    padding: 0.8vw 4vw;
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    text-wrap: nowrap;
}
nav h1{
    font-size: 1.9vw;
    cursor: pointer;
    font-weight: bolder;
   
}
.nav2 h4{
    font-size: 0.8vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
   
}
.nav2 h5{
   
    cursor: pointer;
    font-weight: lighter;
    margin-bottom: 1vw;
    position: relative;
    z-index: 10;
     display: none;
     overflow: hidden;
}
.nav2 h5 span{
    
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
 display: inline-block;
}

nav button{
    background-color: #0da34e;
    width:10vw;
    padding: 0.5vw;
    
    border: none;
    border-radius: 50px;
    font-size: 1vw;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-wrap: nowrap;
    gap: 1vw;
}
nav button svg{
    width: 1vw;
    align-items: center;
}

.bottom-nav{

width: 80%;
    height: 0vh;
    position: absolute;
    top: 100%;
    background-color: #121212;
    z-index: 9;
    border-bottom: 1px solid #fff;
   
}



#page-1{

    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #121212;
    

}

#page-1 h1{
  font-size: 8vw;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 8vw;
}
#page-1 h1 svg{
    width: 6vw;
    text-transform: uppercase;
    background-color: #0da34e;
    border-radius: 50%;
}


.something{
    text-align: center;
    padding: 5px 9px;
     margin-top: 2.5vw;
    
}
.something h4{
    font-size: 1vw;
    text-align: center;
    font-weight: lighter;
   padding: 3px 0px;
   
}
.some{
    display: flex;
    justify-content: center;
   gap: 0.2vw
   
}
.some h4{
border: 1px solid hsl(0, 0%, 65%);
border-radius: 50px;
padding: 1vh 1.1vw;
display: flex;
align-items: center;
justify-content: center;
}
.some h4:nth-last-child(3) {
    /* background-color: red; */
    border: none;
   padding: 4px 0px;
}
.some span{
padding: 4px 0px;
}

#moving-div{
    display: flex;
    margin-top: 10vw ;
    position: absolute;
    bottom: 3%;
    white-space: nowrap;
  padding: 1.2vw;
   overflow: hidden;
    width: 44%;
   
}

#moving-div .move{
 
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes mobe{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

#blur-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #121212, transparent);
    z-index: 2;
}

#blur-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right,transparent, #121212);
    z-index: 2;
}

#page-2{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
   padding: 0vh 10.4vw;
   justify-content: space-between;
   align-items: center;
    border-top: 1px solid #333;
    padding-bottom: 8vh;
   padding-top: 5vw;
   background-color: #121212;;
}

.page-left{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3vh 0;
}

p{
    font-size: 0.8vw;
    font-weight: lighter;
    
}
.page-left h5{
    width: 75%;
    font-size: 1.1vw;
    font-weight: 400;

}

.page-right{
    height: 100%;

    width: 50%;

}

.right-ele{
    height: 25%;
    /* background-color: red; */
    position: relative;
    /* background-color: red; */
    padding-top: 2vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid #333;
}

.right-ele h2 {
    font-size: 1.3vw;
    font-weight: 400;
}

.right-ele img {
    height:13vh;
    width: 13vh;
    top: 11vh;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
  scale: 0;
}

.page3-icon{
    width: 12vh;
    height: 12vh;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
    color: black;
}
.page3-icon i{
    color: black;
}

.page3{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page3 h5{
    position: relative;
    font-size: 0.8vw;
    background-color: white;
    padding: 0.6vh;
    border-radius: 50px;
    margin-top: 0.5vh;
    transition: all 0.5s ease;
    transform: translateY(30%);
   color: black;
   font-weight: 600;
    opacity: 0;
}

.page3-centre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   cursor: pointer;
}

.page3-centre:hover h5{
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateY(0);
}

.page3 video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(0.77) scaleY(0);
    opacity: 0;
    z-index: 999;
    border-radius: 30px;
}
.page3 img{
   position: relative;
   z-index: 999;
}


.page4{
    background-color: white;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 5vh;
}

.section{
   width: 100%;
   height: 72vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 13vh 10vw;
   padding-bottom: 0;
}

.sec1{
    /* background-color: bisque; */
    width: 25%;
    height: 100%;
    
    padding-top: 3vh;
    border-top: 1px solid #000;
}

.sec1 h2{
    font-size: 2.1vw;
   font-weight: 500;
   color: #000;
}
.sec1 p{
    font-size: 1.2vw;
   font-weight: 500;
   margin-top: 10vh;
   color: #000;
}

.sec2{
     background-color: rgb(17, 65, 65);
     width: 60%;
     height: 100%;
     position: relative;
}

.sec2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec2 video{
      width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}


.circle{
   position: absolute;
   top: 35%;
    width: 10vw;
    height: 10vw;
    background-color: #0080ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 1.5vh;
    opacity: 0;
    
   
}
 
.circle p{
  font-size: 0.9vw;
}

.f1{
    
    position: relative;
    right: 1.5vw;
    
}

.page5{

    background-color: #111;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0vw 10.5vw;
    padding-top: 6vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10vw;
   padding-bottom: 5vw;

}

.page5 > button:first-child{
   position: sticky;
   top: 20%;
    left: 10.5vw;
    background-color: #05a129;
    padding: 1.5vh 1.5vh;
    border: none;
    border-radius: 50px;
    font-size: 1vw;
    min-width: 12vw;
   
.p{
    min-height: 100vh;
    padding: 5vh 10.5vw;
    display: flex;
    justify-content: space-between;
}

}

.right{
     
    width:100%;
    font-size: 1.5vw;
    
}

.right>p{
    font-size: 1.5vw;
    padding-right: 4vw;
}

.right span{
    font-size: 0.9vw;
    display: inline-block;
    width: 12vw;
}

.page45{
    background-color: #fff;
    height: 66vh;
    color: black;
    padding: 7vh 10.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.pleft{
    width: 25%;
}

.pp{
     width: 100%;
    font-size: 1.9vw;
    font-weight: bold;
    color: #000;
}
.pright{
    width: 70%;
}

.pright p:nth-last-child(2){
   padding-top: 4vw;
}

.pr1{
    color: #000;
    font-size: 0.6vw;
      color: grey;
    margin-bottom: 2vw;
}
.pr2{
    width: 60%;
    color: #000;
    font-size: 1.2vw;
}
.grid{
    background-color: white;
    display: flex;
    gap: 1.2vw;
    padding: 5vh 10vw;
}


.box{
    background-color: rgb(234, 231, 231);
    width: 40vw;
    height: 40vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.box p:first-child{
    color: black;
    font-size: 4.6vw;
    padding: 2.8vh 1.5vw;
}

.box p:nth-child(2){
    color: rgb(0, 0, 0);
    font-size: 1vw;
    padding: 2vh 1.5vw;
}

.box > p:last-child {
  color: grey;       
  font-size: 0.9vw;
  font-weight: 400;
}

.p5content{
  
    margin-top: 3vh;
    
}

.content{
    border-top: 2px solid white;
    padding-top: 1vh;
    margin-top: 4vw;
    
}
.con button{
    text-transform: uppercase;
   
    width: 7.5vw;
}
.content h2{
    font-size: 2.4vw;
    padding-bottom: 3vh;
}
.content button{
    padding: 0.7vh 0.5vw;
    background-color: transparent;
    border: none;
    font-size: 0.7vw;
    border-radius: 20px;
    border: 1px solid white;
    
}

.p5-ele{
    overflow: hidden;
    display: flex;
    height: 9vw;
    justify-content: space-between;
    padding-top: 1vw;
    border-top: 0.2px solid rgb(184, 171, 171);
    position: relative;
}

.p5-ele:hover{
    border-top: 1px solid white;
}
.p5-ele h3{
   width:  1vw;
   font-weight: 400;
   text-wrap: nowrap;
   position: relative;
   z-index: 2;
}
.p5-ele p{
  font-size: 1vw;
  width: 60%;
  padding-left: 9vw;
  position: relative;
   z-index: 2;
}
.p5-ele i{
  font-size: 1.5vw;
  position: relative;
   z-index: 2;
}

.over{
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.6s ease;
}


.p5c{
    margin-top: 3vw;
}

.p5-ele:hover .over{
     transition: all 0.6s ease;
    transform: translateY(0%);
   background-color: #1a1c1f;
  
   
}

.p5-ele:hover h3{
   padding-left: 1vw;
   transition: all 0.5s ease;
}
.p5-ele:hover i{
   padding-right: 1vw;
    transition: all 0.5s ease;
}


details::marker {
  content: "âœ";
}
summary {
  list-style: none;
  cursor: pointer;
  
}
.content h2{
    display: flex;
    justify-content: space-between;
    
}
.content span{
  position: relative;
  left: 9vw;
}
.content span  i{
   font-size: 1.5vw;
   color: grey;
   transition: all 0.2s ease-in-out;
}
.arrow span i{
     font-size: 1.5vw;
   color: white;
   transition: all 0.2s ease-in-out;
}
.page6{
  
    border-top: 1px solid rgb(122, 119, 119) ;
    background-color: #121212;
    padding: 5vh 10.5vw;
    padding-top:10vw;
    text-align: center;
}

.p6{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pp6{
    padding: 5.5vh;
   
}

.p6 > p:last-child{
    
    font-size: 1.6vw;
    width: 70%;
}

.pp6 p{
     font-size: 0.7vw;
}


.p6boxes{
    padding-top: 4vw;
    width: 100vw;
    display: flex;
    padding-left: 1vw;
    gap: 0.8vw;
    padding-bottom: 0;
}
.p6boxes1{
   
     display: flex;
    padding: 1vw;
    gap: 0.8vw;
    padding-top:0.8vw ;
}

.pbox{ 
    display: flex;
    justify-content: space-between;
    width: 25vw;
    height: 16vw;
    background-color: #1c1d1f;
    padding: 1.5vw;
  font-size: 1.4vw;
  position: relative;
}

.pbox p{
    position: absolute;
    font-size: 0.9vw;
    padding: 1.5vw;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page7{
     width: 100%;
    min-height: 100vh;
    background-color: #fff;
   padding-top: 8vw;
  
}

.page7 h1{
    color: #000;
    font-size: 5vw;
    padding-left: 30vw;
    padding-right: 30vw;
    padding-bottom: 6vw;
    border-bottom: 0.1px solid gray;
}


.sec7{
    padding-top: 5vw;
    display: flex;
    justify-content: space-around;
    gap: 7vw;
    
}


.sec7 .button{
   position: absolute;
    background: rgb(22, 109, 240);
    padding: 1vw;
    border-radius: 50px;
    border: none;
    font-size: 0.9vw;
    height: 2.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    font-weight: 550;
}
.secf .button i{
    font-size: 1vw;
    padding-left: 1vw;
}
.secf{
    padding-top: 1vw;
}
.secg p{
    font-size: 1.5vw;
    padding-bottom: 8vw;
    color: black;
}

.secg{
    background-color: white;
     padding-right: 7vw;
    width: 50%;
}

.anisec{
    width: 100%;
    height: 44vw;
    /* background-color: #0da34e; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top:1px solid #dadada ;
}
.anifont{

   padding: 3vh 0.6vw;

}
.anifont h4{
    font-size: 0.9vw;
    margin-bottom: 3vw;
    font-weight: 450;
    color: #000;
}

.anifont h5{
    background-color: #111;
    width: 65%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
    
}

.anifont span{
    margin-right: 1vw;
    background-color: #5b5757;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.anisec0{
   
    width: 30%;
    height: 100%;
    border-right:1px solid #dadada ;
}
.anisec1{
    width: 28%;
    height: 100%;
    border-right:1px solid #dadada ;
}
.anisec2{
    width: 15%;
    height: 100%;
    border-right:1px solid #dadada ;
}
.anisec3{
    width: 15%;
    height: 100%;
    border-right:1px solid #dadada ;
}
.anisec4{
    width: 15%;
    height: 100%;
}


.anisec1 h5:nth-child(2){
    transform: translateX(0%);
}
.anisec1 h5:nth-child(3){
    transform: translateX(10%);
}
.anisec1 h5:nth-child(4){
    transform: translateX(20%);
}
.anisec1 h5:nth-child(5){
    transform: translateX(30%);
}
.anisec1 h5:nth-child(6){
    transform: translateX(40%);
}
.anisec1 h5:nth-child(7){
    transform: translateX(50%);
}


.anisec2 h5:nth-child(2){
    transform: translateX(10%);
}
.anisec2 h5:nth-child(3){
    transform: translateX(25%);
}


.anisec3 h5:nth-child(2){
    transform: translateX(10%);
}
.anisec3 h5:nth-child(3){
    transform: translateX(25%);
}
.anisec3 h5:nth-child(4){
    transform: translateX(40%);
}

